<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flagship.dao.ContentDao">
  <resultMap type="content" id="contentResultMap">
    <id     property="no"       column="CNO"/>
    <result property="title"     column="TITLE"/>
    <result property="cdate"      column="CDATE"/>
  </resultMap>
	
	<select id="selectList" parameterType="int" resultMap="contentResultMap">
		select CNO,TITLE,CDATE
		from CONTENTS
		where MNO = #{value}
	</select>
	
	</mapper>















