<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flagship.dao.ContentDao">
  <resultMap type="content" id="contentResultMap">
    <id     property="no"       column="CNO"/>
    <result property="mno"    column="MNO"/>
    <result property="title"    column="TITLE"/>
    <result property="cdate"    column="CDATE"/>
    <result property="freq"     column="FREQ"/>
    <result property="speed"     column="SPEED"/>
    <result property="state"    column="STATE"/>
  </resultMap>
	
	<select id="selectList" parameterType="int" resultMap="contentResultMap">
		select CNO,TITLE,CDATE,STATE
		from CONTENTS
		where MNO = #{value}
	</select>
	
	<insert id="insert" parameterType="content" useGeneratedKeys="true" keyProperty="no" keyColumn="CNO">
   INSERT INTO CONTENTS(MNO,TITLE,FREQ,SPEED,STATE,CDATE)
   VALUES(#{mno},#{title},#{freq},#{speed},#{state},now())
  </insert>
	
	
	<update id="updateState" parameterType="content">
	 update CONTENTS set STATE = #{state} 
   where MNO = #{mno} and STATE = 0; 
	</update>

		<update id="updateTitle" parameterType="content">
	 update CONTENTS set TITLE = #{title} 
   where CNO = #{no};
	</update>
	
	</mapper>















