<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flagship.dao.PhotoDao">
  <resultMap type="photo" id="photoResultMap">
    <id     property="no"       column="PHNO"/>
    <result property="path"     column="PATH"/>
  </resultMap>

	<select id="selectList" parameterType="int" resultMap="photoResultMap">
		select PHNO, PATH
    from PHOTOS
    where LNO = #{value}
	</select>
	
	</mapper>















