<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flagship.dao.PointDao">
  <resultMap type="point" id="pointResultMap">
    <id     property="no"       column="PNO"/>
    <result property="lat"     column="LAT"/>
    <result property="lng"    column="LNG"/>
    <result property="pdate"      column="PDATE"/>
    <result property="state"      column="STATE"/>
  </resultMap>
	
	<select id="selectAll" resultMap="pointResultMap">
		select PNO,LAT,LNG,PDATE,STATE
		from POINTS
	</select>
	
	</mapper>















